@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
body {
  background: #b7f5f7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 20px;
}
.button {
  height: 40px;
  width: 100px;
  background-color: aquamarine;
  border-radius: 5px;
  border-color: #2eaac9;
  margin: 5px;
}

.input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border-color: #7fa9af;
  margin: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: space-around;
 
}

.content_page {
  display: flex;
  text-align: right;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.cost-container {
  display: flex;
  align-items: center;
}

.result {
  margin-right: 10px;
}

.img1 {
  width: 15px;
  height: 15px;
}

@media (max-width:768px) {
  .body {
    width: 1000px;
  }
}